{% extends "introduction/base.html" %}
{% block content %}
{% block title %}
<title>SQL LAB</title>
{% endblock %}

<div class="jumbotron">
    <h4 style="text-align:center"> Can You Log in as Admin</h4>
    <div class="login">
        <form method="post" action="/injection_sql_lab">
            {% csrf_token %}
            <input id="input" type="text" name="name" placeholder="User Name" required><br>
            <input id="input" type="password" name="pass" placeholder="Password" required><br>
            <button style="margin-top:20px" class="btn btn-info" type="submit"> Log in</button>
        </form>
    </div>
</div>

<div class="container">
    {% if user1 %}
    <h4>Logged in as:
        <pre>{{ user1 }}</pre>
    </h4>
    {% endif %}

    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>

<br>
<div align="right">
    <button class="btn btn-info" type="button" onclick="window.location.href='/injection'">Back to Lab Details</button>
</div>

{% endblock %}